<div class="login-container">
    <h2>Inicio de Sesion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          <small class="error" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
          <small class="error" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <small class="error" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
          <small class="error" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesion</button>
    </form>
    <div class="register-link">
      <p>No tienes una cuenta? <a (click)="goToRegister()">Registrate</a></p>
    </div>
  </div>