<div class="menu-container" (click)="closeDropdown()">
  <header class="menu-header">
    <div class="logo">
      <h1 (click)="navigateToHome()">BREEDS</h1>
    </div>
    <nav class="menu-nav">
      <ul class="menu-tabs">
        <li><a routerLink="/carousel" routerLinkActive="active">Carrusel</a></li>
        <li><a routerLink="/table" routerLinkActive="active">Tabla</a></li>
      </ul>
      <div class="user-menu" (click)="$event.stopPropagation()">
        <button class="user-icon" (click)="toggleUserMenu()">
          <i class="fas fa-user"></i>
        </button>
        <div class="user-dropdown" *ngIf="isUserMenuOpen">
          <div class="user-email"><p>{{ user.email }}</p></div>
          <a (click)="openModal()">Perfil</a>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
    </nav>
  </header>
  
  
  <div class="menu-content">
    <router-outlet></router-outlet>
    <div class="welcome-message" *ngIf="!isCarouselOrTableRoute">
      <h1>Bienvenidos</h1>
      <p>Explora nuestras razas de gatos y encuentra la perfecta para ti en Carrusel y la Tabla.</p>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()"></div>
<div class="modal-dialog" *ngIf="isModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Perfil del Usuario</h5>
      <button type="button" class="close-button" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <app-user-info></app-user-info>
    </div>
  </div>
</div>